.list-box {
    height: 100%;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
        opacity: 0.5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #DCDDE1;
    }

    .list {
        width: 100%;
        min-height: 100%;
        position: relative;

        .empty-music-list-box {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $textColor;
            user-select: none;

            .last {
                margin-top: 5px;
            }
        }
        
        .list-background {
            background-color: $whiteColor;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            z-index: -1;
            border-radius: 10px;
        }
    }
}