.volume-box {
    height: 100%;
    display: flex;
    align-items: center;
    
    &:hover {
        .volume-control {
            width: 100px;
            transition: width 2s ease;
            
            input[type="range"]::-webkit-slider-thumb {
                width: 10px;
                height: 10px;
                transition: opacity 2s ease-in;
                opacity: 1;
            }
        }
    }
    
    .volume-control {
        width: 0;
        transition: width 2s ease-out;

        input[type="range"]::-webkit-slider-thumb {
            transition: opacity 2s ease-in-out;
            opacity: 0;
        }
    }

    .volume {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}