.item {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    cursor: default;

    &:hover {
        background-color: #E4E7EC;
    }

    .music-info {
        flex: 1;
        display: flex;
        align-items: center;

        .thumbnail {
            width: 47px;
            height: 37px;
            border-radius: 10px;
            margin-right: 10px;
        }
    
        .music-title-box {
            flex: 1;
            width: 10px;
            height: 17px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            user-select: none;
    
            .music-title {
                color: $textColor;
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }

    .add-music-btn {
        width: 10px;
        height: 10px;
        user-select: none;
        
        & > img {
            display: none;
        }
    }
    
    &:hover > .add-music-btn > img {
        @include viewResetButtonMixin();
        display: block;
    }
}