.progress-bar {
    width: 70%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    
    .line {
        width: 90%;
        height: 5px;
        background-color: $whiteColor;
        position: relative;
        
        .circle {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #C4C4C4;
            position: absolute;
            bottom: -75%;
        }
    }

    .volume-box {
        width: 16px;
        height: 16px;
    }
}